<div class="container d-md-flex align-items-stretch" style="background-color: rgba(239,239,239,0.56); height:100% ">
    <nav id="sidebar">
        <div class="p-2 pt-4">
            <h5 style="height: 40px">Фильтры</h5>
            <h6 data-toggle="collapse" aria-expanded="false">Локация</h6>
            <div class="p-2 pt-1">
                <h6 data-toggle="collapse" aria-expanded="false">Район</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Заводской р-н</option>
                     <option value="2">Партизанский р-н</option>
                     <option value="3">Лененский р-н</option>
                    <option value="3">Московский р-н</option>
                    <option value="3">Фрунзенский р-н</option>
                </select>
            </div>
            <div class="p-2 pt-1">
                <h6 data-toggle="collapse" aria-expanded="false">Улица</h6>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Улица</option>
                </select>
            </div>

            <h6 data-toggle="collapse" aria-expanded="false">Тип животного</h6>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                    Кошки
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                    Собаки
                </label>
            </div>
            <h6 data-toggle="collapse" aria-expanded="false">Порода</h6>
            <select class="form-select" aria-label="Default select example">
                <option selected>Без породы</option>
            </select>
            <h6 data-toggle="collapse" aria-expanded="false">Окрас</h6>
            <select class="form-select" aria-label="Default select example">

            </select>
        </div>
    </nav>
</div>