<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cоздание объявления</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<form th:action="@{/post/create}" method="post" enctype="multipart/form-data">
    <div class="form-group" style="margin-left: 400px; margin-right: 400px;">
            <div class="container">
                <h6 data-toggle="collapse" aria-expanded="false">Фотография</h6>
                <div class="mb-2 d-flex justify-content-left">
                    <img id="selectedImage" src="https://mdbootstrap.com/img/Photos/Others/placeholder.jpg"
                         alt="example placeholder" style="width: 200px; height: 200px;"/>
                </div>
                <div class="d-flex justify-content-left">
                    <div class="btn btn-primary btn-rounded">
                        <label class="form-label text-white m-1" for="customFile1">Загрузить
                            файл</label>
                        <input type="file" name="file" class="form-control d-none" id="customFile1"
                               onchange="displaySelectedImage(event, 'selectedImage')" />
                    </div>

                </div>
            </div>
            <div class="container mt-3">
                <h6 data-toggle="collapse" aria-expanded="false">Последнее местонахождения</h6>
                <input type="text" class="form-control" onchange="fetchCoordinates(e.target.value)" placeholder="Введите адрес" id="locationInput">
                <input type="text" class="form-control" placeholder="Введите адрес" id="locationInput2" style="display: none" th:field="${pet.location} ">

            </div>

            <div class="container  mt-3">
                <h6 data-toggle=" collapse" aria-expanded="false">Дата пропажи</h6>
                <input type="date" class="form-control" id="dateInput" th:field="${pet.missingDate}">
            </div>
            <div class="container  mt-3">
                <h6 data-toggle=" collapse" aria-expanded="false">Кличка</h6>
                <input type="text" class="form-control" id="petName" th:field="${pet.name}"
                       placeholder="Введите текст">

            </div>
            <div class="container mt-3">
                <h6 data-toggle="collapse" aria-expanded="false">Пол</h6>
                <input class="form-check-input" type="radio" name="sex" id="maleRadio" th:field="${pet.sex}"
                       value="Мальчик">
                <label class="form-check-label" for="maleRadio">Девочка</label>
                <input class="form-check-input" type="radio" name="sex" id="femaleRadio"
                       th:field="${pet.sex}" value="Девочка">
                <label class="form-check-label" for="femaleRadio">Мальчик</label>
            </div>

            <div class="container  mt-3">
                <h6 data-toggle="collapse" aria-expanded="false">Тип животного</h6>
                <div th:each="petType : ${petTypes}">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="petType" th:field="${pet.petType}" th:id="'flexRadioDefault' + ${petType.id}"
                               th:value="${petType.id}">
                        <label class="form-check-label" th:for="'flexRadioDefault' + ${petType.id}" th:text="${petType.name}"></label>
                    </div>
                </div>
            </div>
            <div class="container  mt-3">
                <h6 data-toggle="collapse" id="breedLable" aria-expanded="false" style="display: none;">Порода</h6>
                <select id="breedSelect" class="form-select" aria-label="Default select example" th:field="${pet.breed}" style="display: none; width: 300px">
                    <option th:each="breed : ${breeds}" th:value="${breed.id}" th:text="${breed.name}"></option>
                </select>
            </div>
            <div class="container  mt-3">
                <h6 data-toggle="collapse" aria-expanded="false">Окрас</h6>
                <select class="form-select" aria-label="Default select example" th:field="${pet.color}" style="width: 300px">
                    <option th:each="color : ${colors}" th:value="${color.id}" th:text="${color.name}"></option>
                </select>
            </div>
            <div class="container  mt-3">
                <h6 data-toggle=" collapse" aria-expanded="false">Описание</h6>
                <textarea type="text" style="height: 200px;" class="form-control" id="textInput"
                          th:field="${pet.description}"></textarea>
            </div>
            <div class="container  mt-3" style="justify-content: center">

                <button type="submit" class="btn btn-primary">Опубликовать</button>
                <a href="/profile" class="btn btn-secondary" >Закрыть</a>
            </div>
    </div>
</form>

<script src="https://api-maps.yandex.ru/2.1/?apikey=fc74894a-7e1d-40fc-814b-a09c1a8e9c40&lang=ru_RU&load=Geosuggest" type="text/javascript"></script>

<script th:inline="javascript">

    function fetchCoordinates(address) {
        const fullAddress = 'Минск, ' + address;
        const API_KEY = 'fc74894a-7e1d-40fc-814b-a09c1a8e9c40';
        const geocodeUrl = `https://geocode-maps.yandex.ru/1.x/?apikey=${API_KEY}&geocode=${encodeURIComponent(fullAddress)}`;

        return fetch(geocodeUrl)
            .then(response => response.text())
            .then(data => {
                // Создаем DOMParser для разбора XML
                const parser = new DOMParser();
                const xmlDoc = parser.parseFromString(data, 'text/xml');

                // Извлекаем координаты из XML-ответа
                const coordinates = xmlDoc.querySelector('pos').textContent.split(' ');
                return coordinates.reverse().join(',');
            })
            .catch(error => {
                console.error('Ошибка при получении координат:', error);
                return null;
            });
    }

    document.getElementById("locationInput").onchange = async function () {
        const inputValue = this.value;
        const coordinates = await fetchCoordinates(inputValue);
        if (coordinates) {
            console.log('Координаты адреса:', coordinates);
            document.getElementById('locationInput2').value = coordinates;
        } else {
            console.error('Не удалось получить координаты для адреса:', inputValue);
        }
    };

    function displaySelectedImage(event, elementId) {
        const selectedImage = document.getElementById(elementId);
        const fileInput = event.target;

        if (fileInput.files && fileInput.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                selectedImage.src = e.target.result;
            };

            reader.readAsDataURL(fileInput.files[0]);
        }
    }

    document.querySelectorAll('input[name="petType"]').forEach((input) => {
        input.addEventListener('change', function () {
            var breeds = /*[[ ${breeds} ]]*/ [];
            if (this.checked) {
                document.getElementById('breedSelect').style.display = 'block';
                document.getElementById('breedLable').style.display = 'block';
                var petTypeId = this.value;
                var filteredBreeds = breeds.filter(breed => breed.petType.id.toString() === petTypeId);
                var breedSelect = document.getElementById('breedSelect');
                breedSelect.innerHTML = '';
                filteredBreeds.forEach(breed => {
                    var option = document.createElement('option');
                    option.value = breed.id;
                    option.text = breed.name;
                    breedSelect.appendChild(option);
                });
            } else {
                document.getElementById('breedLable').style.display = 'none';
                document.getElementById('breedSelect').style.display = 'none';
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</body>

</html>