<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:replace="header :: header"></div>

<div class="list-group" >
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Объявление 1</h5>
        </div>
        <p class="mb-1">Потерлся малчик кабель овчарка</p>
        <button type="button" class="btn btn-primary btn-lg btn-block" >Редактировать</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block" >Удалить</button>
    </a>


<!--    <div th:include="postForm"></div>-->
    <a href="post/create">нажмы</a>
</div>
</body>
</html>
